#  Ejecutables 
# Ignora el archivo final que genera 'make build'
programa
programa.exe

#  Archivos de Objeto 
# Ignora archivos intermedios de compilación
*.o
*.obj

#  Carpetas del Sistema/Editor 
# Si usas VS Code, ignora su carpeta de configuración personal
.vscode/
.DS_Store

# test output & cache
Testing/
.cache/
